* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}


.main {
    padding-top: 165px;
}

.warper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.header {
    background: #161616;
}

.nav-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.external-indentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: #212226;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #35373d;
}

.header {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    transition: all 0.3s ease 0s;
}

.logo {
    z-index: 99999;
}

.menu__items li {
    list-style: none;
}


.menu__items li:not(:last-child) {
    margin-right: 15px;
}

.menu__items li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.menu__items li a:hover {
    color: #ebebeb;
}

.menu__items {
    display: flex;
    font-family: 'Jost';
    font-size: 15px;
}

.logo__image {
    width: 170px;
}

.logo-scroll {
    display: none;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 20px;
    background-color: #161616;
}

.footer__items {
    font-family: 'Jost';
    color: #fff;
    font-size: 14px;
}

.footer__item {
    list-style: none;
    margin-bottom: 3px;
}

.opening__items {
    list-style: none;
    margin-bottom: 3px;
}

.footer__title {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 16px;
}

.opening {
    display: flex;
    width: 200px;
    justify-content: space-between;
}

.footer__menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 50px 0 20px 0;
}

.footer__logo {
    width: 150px;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-all-style {
    background: #161616;
}

.error__code {
    font-size: 53px;
    font-family: 'Jost';
}

.error {
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error__message {
    margin-top: 20px;
    font-size: 27px;
    font-family: 'Jost';
    text-align: center;
}

.lightBg__return-button-link{
    margin-top: 20px;
    text-decoration: none;
}

.lightBg__return-button{
    font-size: 18px;
    font-family: 'Jost';
    padding: 20px;
    border: 1px solid;
    color: #000;
}

.lightBg__return-button:hover{
    border: 1px solid #fff;
    background: #000;
    color: #fff;
    transition: .3s;
}

.icon-facebook,
.icon-instagram {
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
}

.icon-instagram {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    color: #161616;
    margin-left: 10px;
    border-radius: 2px;
}

.page-numbers {
    font-size: 16px;
    font-family: 'Jost';
    border: 1px solid;
    padding: 12px 20px;
    margin: 60px 5px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.page-numbers:hover {
    color: #fff;
    background: #000;
    transition: .8s;
}

header {
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.content-block{
    position: relative;
}

.content-block__image{
    width: 100%;
    height: 1000px;
    object-fit: cover;
}

.content-block__overlay{
    position: absolute;
    top: 55%;
    left: 28%;
    transform: translate(-50%, -50%);
    max-width: 625px;
}

.content-block__style{
    right: 28%;
    transform: translate(90%, -50%);
}

.content-block__title{
    font-family: 'bellefair';
    font-size: 67px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.custom-slider__slide{
    display: flex;
}

.custom-slide__image{
    width: 75%;
    object-fit: cover;
    height: 800px;
}

.content-block__text{
    font-family: 'Jost';
    font-size: 20px;
    margin-bottom: 20px;
}

.custom-slide-content{
    display: flex;
    justify-content: center;
    width: 100%;
    background: #F6F3EF;
}

.custom-slide-content__title{
    font-family: 'bellefair';
    font-size: 67px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.custom-slide-content__text{
    font-family: 'Jost';
    font-size: 20px;
    margin-bottom: 20px;
}

.custom-slide-content__overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 700px;
}

.logo-collection__item {
    max-width: 150px;
    height: auto;
    list-style: none;
}

.logo-collection__image {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.logo-collection__list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-collection{
    padding: 60px 0;
}

.logo-collection__item:not(:last-child){
    margin-right: 50px;
}

.other-jewelry{
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.other-jewelry__title{
    font-family: 'bellefair';
    font-size: 50px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.product-collection{
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.product-collection__card--big{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-collection__card-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.product-collection__card--group{
    display: flex;
}

.product-collection__card--group .product-collection__card-title {
    max-width: none;
}

.product-collection__card {
    position: relative;
    height: auto;
    width: 600px;
    overflow: hidden;
    padding: 40px;
    cursor: pointer;
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.1);
}

.product-collection__card-image-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.product-collection__card-image {
    object-fit: cover;
    transition: transform 0.8s ease;
}

.product-collection__card:hover .product-collection__card-image {
    transform: scale(1.1);
}

.product-collection__card-collection {
    font-family: 'Jost';
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.product-collection__card-title {
    font-family: 'Jost';
    font-size: 32px;
    margin-bottom: 20px;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-collection__card-title--size{
    font-size: 21px;
}

.product-collection__card-description {
    font-family: 'Jost';
    font-size: 16px;
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contents {
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contents__title {
    font-family: 'Jost';
    font-size: 30px;
}

.content__title {
    font-family: 'Jost';
    font-size: 22px;
}

.content__text {
    font-family: 'Jost';
    font-size: 18px;
}

.content__img {
    margin-top: 60px;
}

.content__img img {
    width: 800px;
}

.content__item {
    margin-top: 20px;
}

.content__text li {
    list-style: none;
}

.contact__title {
    text-align: center;
    font-size: 35px;
    font-family: 'Jost';
}

.contact-items {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Jost';
    margin-top: 30px;
}

.contact-items__icon {
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
}

.other-style-contacts {
    padding: 300px 0;
}

.contact-info {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.contact-info__text {
    width: 800px;
    text-align: center;
    font-family: 'Jost';
}

.card__image {
    width: 250px;
}

.card-section {
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.4);
}

.card-section-content__image {
    width: 250px;
    object-fit: cover;
}

.card-section {
    display: flex;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.4);
}

.card-section-content {
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-section-content__title {
    font-family: 'Jost';
    font-size: 16px;
}

.card-section-content__text {
    font-family: 'Jost';
    font-size: 14px;
    margin-top: 20px;
}

.button {
    margin-top: 20px;
    display: flex;
}

.button__link {
    font-family: 'Jost';
    cursor: pointer;
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    text-decoration: none;
}

.button__link:hover {
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
    transition: 0.5s;
}

.content-block__button {
    display: flex;
}

.content-block__link{
    font-family: 'Jost';
    cursor: pointer;
    padding: 18px 60px;
    font-size: 18px;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.content-block__link:hover{
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    transition: 0.5s;
}

.footer__btn {
    background-color: #0f0f0f;
    border: 1px solid #3f3f3f;
    color: #fff;
    font-size: 20px;
}


.footer__btn:hover {
    border: 1px solid #1d1d1d;
    color: #e0e0e0;
}

.card-row {
    width: 100%;
    max-width: 1500px;
    padding: 60px 15px;
    margin: 0 auto;
}

.container__cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 590px);
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    column-gap: 100px;
    row-gap: 50px;
}

.jewelry-service__title{
    font-family: 'bellefair';
    font-size: 54px;
    margin-bottom: 30px;
}

.jewelry-service__list{
    font-family: 'Jost';
    font-size: 19px;
    list-style: none;
    height: 300px;
}

.jewelry-service__item{
    padding: 20px 0;
    border-bottom: 1px solid #e6e1dc;
    cursor: pointer;
}

.jewelry-service__question{
    display: flex;
    align-items: center;
    color: #000;
    font-size: 20px;
}

.jewelry-service{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
}

.jewelry-service__answer {
    font-size: 17px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out; 
}

.jewelry-service__answer--visible {
    margin-top: 20px;
    max-height: 500px;
    opacity: 1;
}

.jewelry-service__content{
    max-width: 500px;
    margin-right: 40px;
}

.jewelry-service__icon {
    margin-right: 10px;
    font-size: 17px;
    transition: transform 0.3s ease;
}

.icon-plus {
    transform: rotate(0deg);
}

.icon-minus {
    transform: rotate(180deg);
}

.slider-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    margin-top: 60px;
}

.slider {
    position: relative;
    height: 300px;
}

.slider-images {
    position: relative;
    height: 100%;
}

.slider-image__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    object-fit: contain;
}

.slider-image__item.active {
    opacity: 1;
}


.icon-right {
    margin-left: 20px;
}

.slider-controllers__arrow {
    display: flex;
}

.slider-image {
    transition: transform 0.5s ease-in-out;
}

.slider-controllers__arrow-icon {
    font-size: 20px;
    padding: 10px;
}

.slider-controllers {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.slider-controllers__circles {
    display: flex;
    align-items: center;
}

.circles__item {
    padding: 5px;
    border: 1px solid;
    border-radius: 100px;
    margin: 0 3px;
    cursor: pointer;
}


.swiper-container {
    overflow: hidden;
}

.swiper-pagination,
.swiper-button-next,
.swiper-button-prev {
    box-sizing: border-box;
}

.swiper-pagination,
.swiper-button-next,
.swiper-button-prev {
    background: none;
    border: none;
}

.swiper-container.custom-slider {
    position: relative; 
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.swiper-slide{
    display: flex;
}

.swiper-pagination-bullet {
    padding: 2px;
    border: 1px solid;
    border-radius: 100px;
    cursor: pointer;
    background: none;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #000;
}
